<nav class="navbar navbar-default navbar-fixed-top container-fluid">
    <a href="/" class="navbar-text">
        Haskell题库
    </a>
    {{#if session}}
        <span class="navbar-text"> 欢迎回来, {{session.name}} </span>
        <a class="navbar-text pull-right" {{action 'logout'}}>
            退出登录
        </a>
    {{else}}
        <a href="#" class="navbar-text pull-right" data-toggle="modal" data-target="#part-login">
            注册
        </a>
        <a href="#" class="navbar-text pull-right" data-toggle="modal" data-target="#part-login">
            登录
        </a>
    {{/if}}
</nav>

{{#part-login}}{{/part-login}}
{{#part-register}}{{/part-register}}
