.input-group {
    background-color: #eee;
    border: 1px solid #ddd;
}
.input-group .form-control,
.input-group .input-group-addon {
    border: none;
}
.input-group.focused {
    border-color: $brand-primary;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
