#problems {
    
    .problem {
        
        .thumbnail {
            width: 100%;
            margin: 0;
            /*// -webkit-filter: blur(1px);*/
            /*// filter: blur(1px);*/
        }
        
        .lock {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0, 0, 0, 0.75);
            z-index: 99;
        }

        .lock .icon {
            position: absolute;
            top: 40%;
            left: 40%;
            font-size: 40px;
            color: #666;
        }

        .caption {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: 30px;
            padding: 5px 10px;
            color: #fff;
            background-color: rgba(0, 0, 0, 0.75);
        }

        .title {
            margin: 0;    
            line-height: 25px;
            border-bottom: 1px solid #fff;
            margin-bottom: 10px;
        }

        a {
            color: #fff;
            cursor: pointer;
        }
    }
    

    .icon {
        // margin-left: 0.5em;
        margin-right: 0.25em;
    }
    
    .problem.solved-by-user .caption {
        background-color: $brand-success;
        opacity: 0.9;
    }

    .problem:hover .caption {
        top: 0;
        height: initial;
    }
    
}