<div id="problem-single-edit">
    
    <div id="markdown">
        {{textarea value=markdownText key-up="updateMarkdown"}}
    </div>

    <div id="preview">
        {{{previewText}}}
    </div>
    
</div>