#problems {
    
    .sidebar {
        width: 9%;
        position: fixed;
        /*// padding: 0.5%;*/
    }

    .sidebar .list-group-item {
        border: 5px solid transparent;
        /*// padding: 10px 50px 10px 45px;*/
        text-align: center; 
        vertical-align: middle;
    }

    .list-group-item.active {
        border-left: 5px solid $brand-info;
        background-color: initial;
        color: $brand-info;
        background-image: none;
        text-shadow: none;
    }

    .content {
        padding: 0 2% 0 0;
        width: 90.5%;
    }

    .problem {
        display: inline-block;
        border: 1px solid $gray-lighter;
        position: relative;
        width: 16%;
        overflow: hidden;
    }

}
