<div id="problems">
    
    <div id="topbar">
        {{#part-topbar}}{{/part-topbar}}
    </div>
    
    <div class="sidebar pull-left col-md-1">

        {{#problem-sidebar}}{{/problem-sidebar}}
    
    </div>
    
    <div class="content pull-right col-md-11">
        {{outlet}}
    </div>
    
    <div class="clearfix"></div>
    
    <div id="footer">
        {{#part-footer}}{{/part-footer}}
    </div>
    
</div>

