<div id="problems">
    
    <div id="topbar">
        {{#part-topbar}}{{/part-topbar}}
    </div>
    
    <div class="sidebar pull-left">
        {{view "problems.sidebar"}}
    </div>
    
    <div class="content pull-right">
        {{outlet}}
    </div>
    
    <div class="clearfix"></div>
    
    <div id="footer">
        {{#part-footer}}{{/part-footer}}
    </div>
    
</div>
