<ul class="list-group list-unstyled">
    <li>
        {{#link-to 'problems' class="list-group-item"}} 全部问题 {{/link-to}}
    </li>
    <li>
        {{#link-to 'problems.invited' class="list-group-item"}} 组队解题 {{/link-to}}
    </li>
    <li>
        {{#link-to 'problems.recommended' class="list-group-item"}} 推荐难题 {{/link-to}}
    </li>
</ul>
