@import "pods.scss";


* {
  box-shadow: none !important;
}

.login-background {
    background-image: url('/Blur-1.png');
    background-size: cover;
    height: 100vh;
    width: 100vw;
    position: absolute;
}

.transparent {
    visibility: hidden;
}

#topbar ~ * {
    margin-top: 30px;
}

.hidden {
    display: none;
}

#footer {
    text-align: center;
    padding: 1%;
    font-size: 0.9em;
    color: $gray;
    border-top: 1px solid $gray-lighter;
}

a {
    cursor: pointer;
}
